.left {
  font-size:2rem;
  font-weight: bold;
} 
.right {
  font-size: 3rem;
  font-weight: bold;
} 
p {
  font-size: 2.5rem;
  color:white;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;

} 
.bottom-button {
  font-size: 2rem;
  font-weight: bold;
  color:green;
  background-color: aliceblue;
  border-radius: 10px;
  border-color: transparent;
} 
.page-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.bottom-container {
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 200px;
}

.bottom-container .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 
  
.navbar-transparent {
  background-color: transparent !important;
} 
.navbar-link {
  color:#fff !important;
} 

/* cards-page */ 

.cards-page {
    margin-top:15vh;
}
.card-heading { 
  text-align: center;
}
.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


